html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}


/* head */

/* top-bar */
.top-bar {
    width: 100%;
    background-color: rgb(47, 150, 150);
    color: white;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.top-bar img {
    padding: 0 0.5rem;
    filter: invert(1);
}

.top-bar p {
    display: flex;
    align-items: center;
}

@media (max-width: 1024px) {   /*For large tabs like ipad pro */
    .top-bar{
        justify-content: space-between;
        }
    }

@media (max-width: 768px){
    .top-bar{
        padding: 1rem;
    }
    .contact-info{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (max-width: 600px){
    .social-links{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
}

/* social-links */
.social-links {
    display: flex;
    align-items: center;
}

.social-links p {
    padding-right: 0.3rem;
}

/* contact-info */

.contact-info {
    display: flex;
}

.contact-info>p {
    padding-right: 1rem;
}

/* .navbar */
.navbar {
    padding: 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#logo,
#navbar-button, .menu-toggle {
    margin: 0 4rem;
}

.menu-toggle{
    display: none;
    font-size: 2.5rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    margin: inherit 0 ;
}

.navbar-list{
    display: flex;
    justify-content: space-around;
}

.navbar-list > li > a{
    position: relative; /* Required for positioning ::after */
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 2.188rem 1.25rem;
}

.navbar-list > li > a:hover{
    color: rgb(47, 150, 150);
}

.navbar-list > li > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1rem; /* Moves the underline down */
    width: 100%;
    height: 2px;
    background-color: rgb(47, 150, 150);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}


.navbar-list > li > a:hover::after {
    transform: scaleX(1); /* Makes the underline appear */
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-list,
.dropdown-list:hover { 
    display: block;
    opacity: 1;
}

/* Ensures smooth transition */
.dropdown-list {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    width: 10rem;
    padding: 10px;
    margin-top: 2rem;
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

/* Keep transition effect on the "Project" link */
.dropdown:hover > a,
.dropdown-list:hover ~ a {
    color: rgb(47, 150, 150);
}

.dropdown:hover > a::after,
.dropdown-list:hover ~ a::after {
    transform: scaleX(1);
}

.dropdown-list a{
    transition: color 0.3s ease;
}

.dropdown-list a:hover{
    color: rgb(47, 150, 150);
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}   

#navbar-button {
    height: 2.5rem;
    width: 6rem;
    background-color: white;
    color: rgb(47, 150, 150);
    font-weight: bold;
    /* box-shadow: inset 0 0 4px 2px rgb(47, 150, 150); */
    box-shadow: 0 0 2px 2px grey;
    border-radius: 0.35rem;
    border: none;
}

#navbar-button:hover{
    background-color: rgb(47, 150, 150);
    color: whitesmoke;
}

@media (max-width: 990px){
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .navbar-list{
        display: block;
        position: fixed;
        top: 14.25rem;
        left: 100%;
        right: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px) ;
        z-index: 1000;
        transition: left 0.5s ease;
    }

    .navbar-list.open{
        left: 0;
        overflow: auto;
    }

    .navbar-list > li > a{
        color: white;
        display: block;
        padding: 1.25rem 1.25rem;
    }

    .menu-toggle{
        display: block;
    }

    #navbar-button{
        display: none;
    }

    .dropdown-list{
        display: block;
        background-color: rgba(0, 0, 0, 0.3);
        position: static;
        width: 100%;
        margin-top: 0;
        padding: 0;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: padding 0.1s, opacity 0.5s ease, max-height 0.5s ease;
    }
    .dropdown-list li{
        line-height: 2rem;
    }
    .dropdown-list li a{
        display: block;
        color: white;
    }

    .dropdown-list.open-projects{
        padding: 1rem 0;
        opacity: 1;
        max-height: 200px;
    }
    
}
/* navbar-end */

/* carousel-section */
.carousel-section{
    height: 75vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.carousel-section .carousel-left-button, .carousel-section .carousel-right-button{
    height: 35px;
    width: 35px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    filter: invert(1);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease ;
    z-index: 1;
}

.carousel-section .carousel-left-button:hover, .carousel-section .carousel-right-button:hover{
    background-color: rgb(255, 255, 255);
}

.carousel-section .carousel-left-button{
    left: 1rem;
}

.carousel-section .carousel-right-button{
    right: 1rem;
}

.slider{
    display: flex;
    transition: transform 1s ease;
}

.slider img{
    width: 100%;
    object-fit: cover;
    flex: 1 0 100%;
}


/* our-causes */
.our-causes-section {
    padding: 5rem;
    width: 100%;
    font-weight: 600;
}

.section-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.section-title{
    font-size: 2.313rem;
}

.section-description{
    font-weight: 600;
    text-align: center;
}

.section-divider {
    margin-bottom: 1rem;
    height: 25px;
}

.highlight-causes {
    color: rgb(47, 150, 150);
    font-weight: 600;
}

/* causes-wrapper */
.causes-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

.cause-card {
    flex: 1 1 20%;
    background-color: rgb(231, 230, 230);
    text-align: center;
    transition: all 0.3s ease-in;
    border-radius: 5px;
}

.cause-card:hover {
    box-shadow: 0 2px grey;
}

.cause-image {
    height: 40%;
    width: 100%;
}

.cause-title {
    padding: 1rem 0.4rem;
    font-weight: 600;
}

.cause-description {
    padding: 0 1rem 1.5rem 1rem;
}

.cause-card-button {
    height: 2.5rem;
    width: 6rem;
    background-color: rgb(231, 230, 230);
    color: grey;
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 0.35rem;
    transition: all 0.3s ease-in-out;
    margin-bottom: 2.2rem;
}

.cause-card-button:hover {
    background-color: rgb(47, 150, 150);
    color: white;
    border: 2px solid rgb(47, 150, 150);
}

@media (max-width: 900px){
    .cause-card-button{
        margin-bottom: 1rem;
    }
}

@media (max-width: 767px){
    .causes-wrapper{
        justify-content: center;
    }
    .cause-card{
        flex: 0 1 80%;
    }
}

@media (max-width: 600px){
    .cause-card{
        flex: 1 1 100%;
    }
}

/* help-section */
.help-section {
    padding: 5rem;
    /* background-color: black; */
    background-image: url("../assets/Images/stars.jpg");
    background-attachment: fixed;
    background-position: top;
    color: white;
    text-align: center;
}

.help-title {
    padding-bottom: 1rem;
    font-weight: 600;
}

.help-title, .help-title > img {
    text-align: center  ;
}

.help-option {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.help-card {
    flex: 1 1 20%;
}

.help-heading{
    display: flex;
    align-items: center;
}

.help-heading img {
    filter: invert(1);
    margin-right: 0.5rem;
}

.help-description {
    padding: 1.5rem 0;
}

.help-button {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    padding: 0.6rem;
    font-size: small;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.help-button:hover {
    background-color: rgb(47, 150, 150);
    color: white;
    border: 2px solid rgb(47, 150, 150);
}

@media (max-width: 767px){
    .help-option{
        text-align: center;
        gap: 4rem;
    }
    .help-card{
        flex: 0 1 80%;
    }
    .help-heading{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 600px){
    .help-card{
        flex: 1 1 100%;
    }
}

/* gallery-section */
.gallery-section{
    overflow: hidden;
    width: 100%;
    padding: 5rem;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gallery-title{
    font-size: 2.313rem;
}

.gallery-description{
    font-weight: 600;
    margin-bottom: 1rem;
}

.gallery-navbar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem; 
}

.gallery-navbar ul li a{
    transition: all 0.3s ease;
}

.gallery-navbar ul li a:hover{
    color: rgb(47, 150, 150);

}

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    height: 70vh;
    width: 70vw;
}

.gallery-grid img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 3px 4px rgb(51, 51, 51);
}

@media (max-width: 1024px){
    .gallery-grid{
        height: 40vh;
        width: 60vh;
    }
}

@media (max-width: 768px){
    .gallery-navbar ul{
        gap: 1rem;
    }
    .gallery-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        overflow: scroll;
    }
}

@media (max-width: 600px){
    .gallery-grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        overflow: scroll;
    }
}

/* upcoming-event-section */
.upcoming-event{
    min-height: 30vh;
    background-image: url("../assets/Images/ethan-hoover-eIVJAkj1uCs-unsplash.jpg");
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 5rem;
}

.event-svg{
    height: 25px;
    width: 25px;
    filter: invert(1);
}

/* volunteer-section */
.volunteer-section{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.volunteer-title{
    font-size: 2.313rem;
}

.volunteer-description{
    font-weight: 600;
    padding-bottom: 2rem;
}

.volunteer-card{
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
}

.volunteer{
    transition: all 0.3s ease;
    padding-bottom: 1rem;
    flex: 1 1 20%;
}

.volunteer:hover{
    box-shadow: 0 0 6px 4px grey;
    color: rgb(47, 150, 150);
    background-color: rgb(228, 228, 228);
}

.volunteer-name{
    margin-top: 1rem ;
}

.volunteer img{
    height: inherit;
    width: 100%;    
    border-radius: 5px;
}

@media (max-width: 768px){
    .volunteer-card{
        flex-wrap: wrap;
    }
    .volunteer{
        flex: 1 1 40%;
    }
}

@media (max-width: 480px){
    .volunteer{
        flex: 1 1 100%;
    }
}



/* testimonial-section */
.testimonial-section{
    background-image: url("../assets/Images/stars.jpg");
    color: whitesmoke;
    width: 100%;
    padding: 3rem 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.testimonial-section .carousel-left-button, .testimonial-section .carousel-right-button{
    height: 50px;
    width: 50px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    filter: invert(1);
    z-index: 1;
}

.testimonial-section .carousel-left-button{
    left: 2rem;
}

.testimonial-section .carousel-right-button{
    right: 2rem;
}

.testimonial-section .section-divider{
    filter: invert(1);
}

.testimonial-section hr{
    margin-top: 1rem;
    width: 100%;
}

.testimonial-wrapper{
    display: flex;
    width: 300%;
    transition: transform 1s;
}

.testimonials{
    flex: 1  0 100%;
}

.testimony{
    margin: 1.5rem 0;
}

.testimonials h3{
    margin-bottom: 0.3rem;
}

.testimonial-image{
    height: 100px;
    width: 100px;
    margin-top: 2.5rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    background-position: center;
}
/* testimonial-section-end */

/* blog-section */
.blog-section{
    width: 100%;
    padding: 5rem;
    text-align: center;
}

.latest-blogs{
    margin-top: 3rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.latest-blogs hr{
    width: 90%;
    align-self: center;
}

@media (max-width: 820px) {
    .latest-blogs{
        justify-content: space-between;
    }
    .blog-card{
        flex-basis: 45%;
    }
}

@media (max-width: 600px){
    .blog-card{
        flex: 1 1 100%;
    }
}

.blog-card{
    display: flex;
    flex-direction: column;
    width: 25vw;
    position: relative;
    background-color: rgb(231, 230, 230);
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.blog-card:hover{
    box-shadow: 0 2px 3px 2px rgb(191, 191, 191);
}

.blog-card > img{
    height: inherit;
    width: 100%;
}

.blog-date{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgb(47, 150, 150);
    color: whitesmoke;
}

.blog-info{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.admin, .comment{
    display: flex;
    align-items: center;
}

.admin img{
    padding-right: 5px;
}

.comment > img{
    padding: 0 5px;
}

.blog-title{
    padding: 2rem 1rem 1rem 1rem;
    font-weight: 600;
    text-align: left;
}

.blog-description{
    text-align: left;
    padding: 0 1rem;
}

.blog-card a{
    padding: 1rem 1rem;
    align-self: flex-end;
    transition: all 0.3s ease;
}

.blog-card a:hover{
    color: rgb(47, 150, 150);
}





/* sponsors-section */
.sponsors-section{
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.sponsor-title{
    font-size: 2.313rem;
}

.sponsors{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.sponsors img{
    height: 6rem;
    width:  8rem;
}

.sponsors img:hover{
    box-shadow: 0 0 2px 3px grey;
}

/* footer-section */

/* footer-top */
.footer-top{
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(47, 150, 150);
    color: whitesmoke;
}

.underline{
    background-color: whitesmoke;
    border: none;
    height: 0.1rem;
    width: 3vw;
    margin-bottom: 2rem;
}

.about-us-section .underline:nth-of-type(2){
    margin-bottom: 1.2rem;
}

.about-us-section, .project-section, .quick-link-section, .newsletter-section{
    width: 17vw;
    display: flex;
    flex-direction: column;
}

@media (max-width: 820px){
    .about-us-section, .project-section, .quick-link-section, .newsletter-section{
        flex-basis: 50%;
        padding: 1rem;
    }
}

@media (max-width: 600px){
    .about-us-section, .project-section, .quick-link-section, .newsletter-section{
        flex: 1 1 100%;
        padding: 1rem;
    }
}

.project-title, .about-us-title, .contact-us-title, .quick-link-title, .newsletter-title{
    color: white;
}

.project-options li::before, .link-options li::before{
    content: "> ";
}

.project-options li, .link-options li{
    line-height: 2rem;
    transition: all 0.3s ease;
}

.project-options li:hover, .link-options li:hover{
    color: black;
}

.contact-us-title{
    margin: 2rem 0 0 0;
}

.newsletter-section input{
    margin: 1.5rem 0;
}

#newsletter-button{
    background-color: rgb(8, 106, 106);
    color: whitesmoke;
    height: 2.5rem;
    width: 6rem;
    border: 2px solid rgb(47, 150, 150);
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 2px 2px black;
}

#newsletter-button:hover{
    border: none;
    background-color: black;
    /* color: rgb(47, 150, 150); */
}


.project-options{
    display: flex;
    flex-direction: column;
}

.link-options{
    display: flex;
    flex-direction: column;
}



/* footer-bottom */
.footer-bottom{
    grid-column: span 4;
    height: 5vh;
    background-color: rgb(8, 106, 106);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-social-links img{
    filter: invert(1);
    margin: 0 1rem;
}

@media (max-width: 820px){
    .help-section, .gallery-section, .our-causes-section, .volunteer-section, .testimonial-section, .blog-section, .sponsors-section, .footer-top{
        padding: 5rem 2rem;
    }
}

@media (max-width: 600px){
    .footer-bottom{
        flex-direction: column;
        gap: 0.7rem;
        padding: 0.5rem;
    }
}



